/* .black {
  color: white;
  background-color: black;
}
.Red {
  color: white;
  background-color: Red;
}
.Green {
  color: white;
  background-color: green;
}
.Blue {
  color: white;
  background-color: blue;
}
.Orange {
  color: white;
  background-color: orange;
}
 */
.active{
  font-size: 25px;
  color: green;
  background-color: aquamarine;
}