.heading2{
    color: red;
    background-color :brown;
    border: 2px solid green;
}
.heading{
    color: green;
    background-color: pink;
}
.adfar-text{
    background-color: black;
    color: rgb(251, 251, 251);
}